<div>
  <div>
    <h1>Conversation: <%= @message.conversation.title %></h1>
  </div>
  <div>
    <h3>Message Thread</h3>
    <p><%= @message.text %></p>
  </div>
  <div>
    <ul>
      <% @message.thoughts.each do |thought| %>
        <li><%= thought.text %> - <%= thought.created_at %> </li>
      <% end %>
    </ul>
    <%= 
      form_tag(
        "/conversations/#{@message.conversation.id}/messages/#{@message.id}/thoughts", 
        method: :post
        ) do 
    %>
      <%= label_tag :text %>
      <%= text_field_tag :text %>
      <%= button_tag 'Add Thought' %>
    <% end %>
  </div>
</div>