<div>
  <div>
    <h2>All Conversations</h2>
  </div>
  <div class="search">
    <%= form_tag "/conversations/search", method: :get do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div>
    <% if @conversations %>
      <ul>
        <% @conversations.each do |convo| %>
          <li><%= link_to "#{convo.title}",  conversation_path(convo.id)%> <%= convo.start_date %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <h3><%= link_to "Start New Conversation", new_conversation_path %></h3>
  </div>
</div>
