<div>
  <h1><%= @conversation.title %></h1>
  <div>
    <% @conversation.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <%= message.text %> - <%= message.created_at %>
        <ul>
          <% message.thoughts.each do |thought| %>
            <li>
              <p><%= thought.text %> - <%= thought.created_at %></p>
            </li>
          <% end %>
        </ul>
        <div>
          <%= link_to "Comment", "/conversations/#{@conversation.id}/messages/#{message.id}" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <h1>Join the conversation</h1>
    <%= form_tag("/conversations/#{@conversation.id}/messages", method: :post) do %>
      <%= label_tag :text %>
      <%= text_field_tag :text %>
      <%= button_tag 'Add Message' %>
    <% end %>
  </div>
</div>
